.MainImg {
    background-image: url("../mobile/image-host.jpg"); 
    width: 0; 
    height: 0; 
}

/* Tablet */
@media screen and (min-width: 778px){
    .MainImg {
        background-image: linear-gradient( rgb(84,230,175,0.08) , rgb(84,230,175,0.08)), url("../tablet/image-host.jpg"); 
        width: 490px; 
        top: 0; 
        right: 0; 
        height: 767px; 
        position: absolute; 
    }
}

/* desktop */
@media screen and (min-width: 1440px){
    .MainImg {
        background-image: linear-gradient( rgb(84,230,175,0.08) , rgb(84,230,175,0.08)), url("../desktop/image-host.jpg");
        width: 888px; 
        height: 640px; 
        top: 130px;  
    }
}
