.PodRequest {
    position: relative; 
    overflow: hidden; 
    width: 375px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    background-image: linear-gradient(rgba(18, 23, 37, 0.9), rgba(18, 23, 37, 0.9)),url("../mobile/image-host.jpg"); 
}


/* Tablet */
@media screen and (min-width: 778px){
    .PodRequest {
        min-width: 768px;
        min-height: 1024px; 
        background-image: none; 
        background-color: #121725; 
    }
}