.SubmitBox{
    display: flex ;
    flex-direction: column; 
    width: 100%; 
}

input {
    font-size: 14px; 
    line-height: 14px; 
    height: 46px; 
    border-radius: 30px; 
    padding: 10px; 
    border: none; 
    font-weight: 700; 
}

input[type=email]{
    background-color: #2C344B; 
    margin-bottom: 20px; 
    color: #FFF; 
    padding-left: 30px; 
}

input:focus{
    outline: none; 

}

input[type=submit]{
    background-color: #54E6AF; 
    margin-bottom: 70px; 
}

/* Tablet */
@media screen and (min-width: 778px){
    .SubmitBox{
        flex-direction: row; 
        position: relative; 
        width: 427px; 
        height: 56px; 
        margin-bottom: 60px; 
    }
    input[type=email]{
        width: 100%; 
        height: 100%; 
    }
    input[type=submit]{
        width: 162px; 
        height: 46px; 
        position: absolute;
        right: 5px; 
        top: 5px; 
    }
}